.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: whitesmoke;
}
.background {
  width: 430px;
  height: 480px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(to right, #1845ad, #f09819);
  left: -100px;
  top: -150px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -80px;
  bottom: -120px;
}
form {
  height: 520px;
  width: 400px;
  background: rgba( 255, 255, 255, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  font-family: "Poppins", sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  /* background: red; */
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
label {
  display: block;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: transparent !important;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid dimgray;
}
input:hover {
  border: 1px solid dimgray !important;
}
::placeholder {
  color: dimgray !important;
}
button {
  margin-top: 50px;
  width: 100%;
  background: linear-gradient(to left, #ff512f, #1845ad);
  padding: 15px;
  font-size: 18px;
  color: wheat !important;
  border-radius: 6px;
  cursor: pointer;
}
.social {
  display: flex;
  margin-top: 30px;
}
.social div{
  width: 150px;
  /* height: 60px; */
  border-radius: 3px;
  padding: 5px 10px 10px 5px; 
  color: black; 
  background: transparent;
  text-align: center;
  justify-content: center;
  font-size: 20px;
}
.social div:hover{
  /* background-color: dimgray; */
  cursor: pointer;
  color: dimgray !important;
}
.social .fb{
  margin-left: 25px;

}
.social i {
margin-right: 4px;
}
